[Unit]
Description=Synchronize APT mirror

[Timer]
OnBootSec=2m
# Calendar=daily
OnUnitActiveSec=6h
Persistent=true
RandomizedDelaySec=10m

[Install]
WantedBy=timers.target

