[Unit]
Description=Synchronize APT mirror
ConditionACPower=true
After=network.target systemd-networkd.service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/aptmirror.sh
