[Unit]
Description=Synchronize APT mirror
ConditionACPower=true
After=network.target multi-user.target

[Service]
Type=oneshot
ExecStart=/usr/local/bin/aptmirror.sh

